################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProblemSolving/ProblemSolving/obj/Debug/net8.0
/ProblemSolving/.vs/ProblemSolving
/ProblemSolving/ProblemSolving/bin/Debug/net8.0
/ProblemSolving/ProblemSolving/obj
